<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="static\uploads\css\style.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{{ url_for('admin_issues') }}">Issues</a></li>
        <li><a href="{{ url_for('admin_dashboard_charts') }}">Dashboard</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
</nav>

<main>
    <h2>Welcome Admin: {{ session['username'] }} ({{ session['jurisdiction'] }})</h2>
    <p>Use the navigation bar to view issues or access analytics.</p>
</main>
</body>
</html>
